.weather-card {
  height: 80px;
  border-radius: 12px;
  margin-top: 28px;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.weather-card__temperature {
  font-family: "Cabinet Grotesk Bold", "Arial", sans-serif;
  font-size: 36px;
  color: #ffffff;
  line-height: 40px;
  background-color: transparent;
  margin: 0;
  top: 20px;
  left: 16px;
  position: absolute;
}

.weather-card__image {
  position: relative;
  object-fit: cover;
  object-position: right top;
  width: 100%;
}
